body{
    font-family: poppins !important;
}
.main{  
    background-image:linear-gradient(  transparent,#4f0707c7), url(/image/shutterstock_348320018.png);
    background-size: 100% ;
    background-position: center;
    /* background-repeat: no-repeat; */
}
.search-location{
    width: 370px !important ;       
}
.logo{
    height: 140px;
    width: 140px;      
}
.lg{
    font-size: 70px !important;}
img{
    height: 160px;
    width: 160px;
    background: fixed;}
@media screen and (max-width:991px){
    .main{       
       background-size: cover !important;     
    }   
    .logo{
        height: 100px ;
        width: 100px ;
        border-radius: 50% ;      
    }
    .lg{
        font-size: 50px !important;
    }
    .search-location{
        width: 100% !important ;       
    } 
}
